:root {
    --color-primary: rgb(255, 255, 0);
    --color-secondary: rgb(192, 192, 192);
    --color-dark-background: rgb(0, 0, 51);
    --color-light-background: rgb(224, 224, 224);
    --color-highlight: rgb(0, 255, 255);
    --color-notification: rgb(75, 0, 130);
    --color-interactive: rgb(255, 0, 255);
    --color-critical: rgb(255, 0, 0);
    font-family: "OCR A Std", "Courier New", monospace;
  }
  
  @font-face {
    font-family: 'Square Sans Serif 7';
    src: url('../assets/square_sans_serif_7.ttf') format('truetype');
  }

body {
    background-color: var(--color-light-background);
}

section {
    margin-bottom: 100px;
}



.nav-container {
    align-items: center;
    display: flex;
    height:64px;
    margin: 0 auto;
    max-width: 1272px;
    position: relative;
    width: 100%;
    padding: 0 36px;
}

.logo-container {
    align-items: center;
    display: flex;
    height: 64px;
    min-height: 64px;
    position: relative;
    margin-right: 40px;
}

.header-logo {
    display: flex;
    font-size: 29px;
    line-height: 29px;
    max-width: 100%;
    color: var(--color-interactive);
    font-family: 'Square Sans Serif 7', sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    -webkit-text-stroke: 1px white;
    text-shadow: 2px 2px 4px var(--color-highlight);
}

.nav-links {
    height: 100%;
    display: flex;
}

.nav-link {
    border: 0;
    margin: 0;
    padding: 0;
    align-items: center;
    color: var(--color-secondary);
    display: flex;
    flex-shrink: 0;
    font-size: 14px;
    font-weight: 400;
    height: 100%;
    position: relative;
    text-decoration: none;
    margin-right: 10px;
}

.nav-link:hover {
    color: var(--color-dark-background);
}


.home-about {
    display: flex;
    padding: 0 36px;
}

.about-blurb{
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    margin: 0;
    max-width: 42%;
    text-align: left;
    top: 85px;
    z-index: 1;
    flex: 1;
    margin-right: 20px;
    margin-left: 20px;
}

.about-header {
    color: var(--color-dark-background);
    margin: 0 0 16px;
    padding: 0;
    font-weight: 300;
    font-size: 44px;
    line-height: 56px;
}


.about-blurb p{
    color: var(--color-notification);
    line-height: 1.5;
    margin: 0 0 16px;
    padding: 0;
    font-weight: 300;
    font-size: 20px;
}

.about-more {
    margin-bottom: 8px;
    display: block;
    width: auto;
}

.about-more-link{
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-weight: 600px;
    outline: none;
    text-align: center;
    text-decoration: none;
    user-select: none;
    vertical-align: middle;
    font-size: 20px;
    line-height: 28px;
    padding: 11px 64px;
    background: var(--color-light-background);
    border-color: var(--color-notification);
    color: var(--color-notification);
    transition: .2s;
    transition-property: background-color,border-color,color;
}

.about-more-link:hover{
    background: var(--color-dark-background);
    border-color: var(--color-primary);
    color: var(--color-primary);
}

.about-image {
    flex: 1;
    position: relative;
    overflow: hidden; /* Ensure the image doesn't overflow the container */
   }

.about-image img {
    display: block;
    width: 100%; /* Ensure the image fills the width of the container */
    height: auto; /* Let the height adjust proportionally */
}

.footer {
    background-color: var(--color-dark-background);
    color: var(--color-highlight);
    margin-left: 0;
    margin-right: 0;
}

.footer-container {
    margin: 0 auto;
    max-width: 100%;
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 80px;
    padding-top: 80px;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: space-evenly;
    margin-bottom: 48px;
}

.footer-links-column {
    flex: 1;
    min-width: auto;
    text-align: center;
}

.footer-column-title {
    border-bottom: 1px solid var(--color-secondary);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 16px;
    padding-bottom: 16px;
    white-space: nowrap;
    color: var(--color-secondary);
}

.footer-column-list {
    list-style: none;
    text-align: center;
}

.footer-list-links {
    list-style: none;
    margin-bottom: 10px;
}

.footer-list-link {
    color: var(--color-secondary);
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-decoration: none;
}

.footer-brand {
    border-bottom: 1px solid var(--color-secondary);
    border-top: 1px solid var(--color-secondary);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 32px 0;
    text-align: center;
}

.social-icons {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin-right: 40px;
}

.social-icon:not(:last-child){
    margin-right: 16px;
}

.icon {
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 40px;
    background: transparent;
    text-decoration: none;
}

.icon:hover {
    color: white;
}

.footer-info{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    justify-content: center;
    line-height: 20px;
    padding-right: 20px;

}

